.boutton{
    padding: 1em;
    margin: 1.5em;
    border-radius: 5em;
    background: linear-gradient(170deg, $secondary, $primary);
    color: white;
    @include box-shadow(0.5em, 0.3em);
    &--bigpadding{
        padding: 1em 3em;
    }
}