body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main > * {
    padding: $blockpadding;
}

h1, h2, h3, h4, p{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}