.main-acceuil{
    &> section{
        padding: 3em 1em;
    }
}

// Localisation

.block-location{
    @include flexrow;
    padding: 1em;
    font-size: $fontsmall;
    font-weight: $weightmedium;
    color: $lightenfontcolor;
    background: darken(white, 10%);
    &__content{
        position: relative;
        i{
            position: absolute;
            left:-1.5em;
            font-size: $iconsmall;
        }
    }
}

// Info acceuil

.section-info{
    @include flexcolumn;
    text-align: center;
    background: $darkenbg;
    &__texte{
        margin: 0em 1em 1em 1em;
        font-size: $fontmedium;
        font-weight: $weightlight;
    }
}

// Liste Fonctionnement

.list-fct{
    margin: 0 0 0 1em;
    .list-elmt{
        @include box-shadow(0.8em, 0.2em);
        display: flex;
        margin: 0 0 1.5em 0;
        border-radius: 1.2em;
        background: $darkenbg;
        position: relative;
        justify-content: flex-start;
        &--pink{
            background: $primarylighten;
        }
        &__icon{
            @include flexcolumn;
            margin: 0 0 0 2em;
            width: 1em;
            color: $lightenfontcolor;
            font-size: $iconsmall;
            &--pink{
                color: $primary;
            }
        }
        p:first-child{
            @include flexcolumn;
            position: absolute;
            left: -0.7em;
            top: 50%;
            transform: translate(0%, -50%);
            width: 1.5em;
            height: 1.5em;
            border-radius: 1em;
            background: $primary;
            color: white;
        }
        p:last-child{
            padding: 1.5em;
        }   
    }
}

// Restaurant

.section-resto{
    background: $darkenbg;
}

.article-resto{
    background: white;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    margin: 0 0 1.5em 0;
    @include box-shadow(0.8em, 0em);
    .link-resto{
        flex: 1;
        position: relative;
        z-index: 0;
        img{
            object-fit: cover;
            height: 200px;
        }
        div{
            flex: 1;
            margin: 1em;
            @include flexcolumn;
            flex-basis: 80%;
            align-items: flex-start;
        }
        &> p{
            position: absolute;
            top: 20px;
            right: 20px;
            background: $tertiary;
            color: darken($tertiary, 40%);
            padding: 0.5em 1.1em;
            font-weight: $weightmedium;
            border-radius: 0.1em;
        }
    }
    .block-heart{
        position: relative;
        z-index: 5;
        &__icon{
            cursor: pointer;
            position: absolute;
            right: 40px;
            bottom: 30px;
            font-size: $iconbig;
            &--hide{
                opacity: 0;
                background: linear-gradient(170deg, $secondary, $primary);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }
        &:hover{
            &> .block-heart__icon--visible{
                opacity: 0;
            }
            &> .block-heart__icon--hide{
                opacity: 1;
                animation: 0.3s ease-in-out heartactive;
            }
        }
    }
}

@keyframes heartactive {
    from { 
        transform: scale(0);
    }
    to   { 
        transform: scale(1);
    }
  }