.main-restaurant{
    background: $darkenbg;
    &> section{
        padding: 1em;
    }
}

.section-commande{
    position: relative;
    top: -50px;
    border-radius: 2em;
    background: $darkenbg;
    &__title{
        @include flexrow;
        justify-content: space-between;
        align-items: center;
        margin: 1em 1em 1em 0;
        h1{
            font-size: $fontbig;
        }
        i{
            font-size: $iconbig;
        }
    }
}

.block-menu{
    margin: 0 0 3em 0;
    h2{
        font-size: $fontmedium;
        font-weight: $weightlight;
        text-transform: uppercase;
        span{
            border-bottom: 3px solid $tertiary;
            margin: 0.2em 0 0 0;
        }
    }
    &__boutton{
        display: flex;
        justify-content: center;
    }
}


.block-plats{
    @include flexrow;
    justify-content: space-between;
    background: white;
    border-radius: 1em;
    overflow: hidden;
    margin: 0 0 1em 0;
    @include box-shadow(0.8em, 0.2em);
    position: relative;
    &:hover{
        & .block-plats__description{
            margin: 0 75px 0 0;
        }
        & .block-plats__check{
            transform: translateX(0);
            i{
                transform: rotate(0deg);
            }
        }
        & .block-plats__prices{
            transform: translateX(-75px);
        }
    }
    &__description{
        white-space: nowrap;
        overflow: hidden;
        padding: 1em;
        transition: all $timetcheckanim ease-in-out;
        h3, dd{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &__prices{
        font-weight: $weightmedium;
        margin: auto 0 0 0;
        transform: translateX(0px);
        transition: all $timetcheckanim ease-in-out;
        transform-origin: right;
        padding: 0 1em 1em 0;
    }
    &__check{
        transform: translateX(75px);
        transition: all $timetcheckanim ease-in-out;
        transform-origin: right;
        position: absolute;
        right: 0;
        height: 100%;
        width: 70px;
        @include flexcolumn;
        color: white;
        background: $tertiary;
        font-size: $iconbig;
        i{
            transform: rotate(360deg);
            transition: all $timetcheckanim ease-in-out 0.1s;
        }
    }
}