//Couleurs

$primary:#9356DC;
$primarylighten: lighten($primary,35%);
$secondary:#FF79DA;
$tertiary:#99E2D0;

$darkenbg: darken(white, 5%);

//Font

$lightenfontcolor: lighten(black, 25%);

$fontsmall: 1em;
$fontmedium: 1.2em;
$fontbig: 2em;

$weightlight: 300;
$weightmedium: 600;
$weightbold: 800;

//Icon

$iconsmall: 1em;
$iconbig: 1.5em;


//Autre

$shadowcolor:darken(white,20%);